.word {
	height: 1.6em;
    border-radius: 4px;
    background-color: grey;
    color: white;
	position: absolute;
	display: inline-block;
	/*top: 10px;*/
	/*left: 10px;*/
	padding: 0.3em;
}

:host {
	position: relative;
}