

.word {
	height: 1.6em;
    border-radius: 4px;
    background-color: #303030;
    color: white;
	position: absolute;
	display: inline-block;
	/*top: 10px;*/
	/*left: 10px;*/
}

:host {
	position: relative;
}